.linkContainer{
	font-family:monospace;
	width: 100%;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.arrowBox{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.showIcon{
	display: none;
}

.categoryName{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 5px;
}

.linkContainer:hover .showIcon{
	display: flex;
}
