.iconContainer{
	width: 20%;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.reactIcon{
	display: flex;
	animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.descriptionContainer{
	height: 20px;
	visibility: hidden;
}

@media screen and (max-width: 800px){
	.iconContainer{
		width: 30%;
	}
}
