.skillTitleBox{
	display: flex;
	box-shadow: 1px 1px 4px 2px;
	width: 100%;
}

.iconContainer{
	aspect-ratio: 1/1;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.skillDescriptionBox{
	display: flex;
	justify-content: center;
	align-items: center;
}

.reactIcon{
	display: flex;
	animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px){
	.iconContainer{
		width: 30%;
	}
}
