.contentsWrapper{
	width: 100%;
	aspect-ratio: 16/9;
	display: grid;
}

.linksWrapper{
	display: flex;
	align-self: flex-end;
	justify-self: flex-end;
	flex-direction: column;
	min-width: 200px;
	width: 12%;
	margin-bottom: 10px;
}

@media screen and (max-width: 800px){
	.contentsWrapper{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		aspect-ratio: unset;
	}

	.linksWrapper{
		align-self: flex-start;
		justify-self: center;
	}
}
