.titleContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: white;
	box-shadow: inset 2px 2px 2px 0px var(--accent-color); 
}

.nameBar{
	margin: 10px;
}

.contactInfo{
	align-self: flex-end;
}

.phoneNumber{
	font-size: medium;
}
