.skillWrap{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.skillView{
	height: 80%;
	width: 100%;
}
.skillDescription{
	height: 25%;
	margin: 10px;
	display: flex;
	box-shadow: 0px 0px 4px 1px;
	height: 40%;
	padding: 5px;
}

.skillsContainer{
	height: 60%;
	user-select: none;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px;
	overflow: scroll;
  }

.skillsContainer::-webkit-scrollbar {
	display: none;
}

.backButtonContainer{
	height: 10%;
}

@media screen and (max-width: 1300px){
	
}


@media screen and (max-width: 800px){
	.skillWrap{
		width: 100%;
		height: 100%;
		display: flex;
	}
	.skillsView{
		height: 100%;
	}
	.skillsContainer{
		padding: 0px;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		height: 60%;
		flex-direction: row;
	}
	.skillDescription{
		overflow: scroll;
		height: 50%;
		margin: 8px;
	}
	.backButtonContainer{
		height: 10%;
	}

}

