.skillWrap{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.skillsContainer{
	height: 80%;
	user-select: none;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
	padding: 20px;
}

.backButtonContainer{
	height: 20%;
}

@media screen and (max-width: 1300px){
	
}


@media screen and (max-width: 800px){
	.skillWrap{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.skillsContainer{
		padding: 0px;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		height: 80%;
		flex-direction: row;
	}
	.backButtonContainer{
		height: 10%;
	}

}

