.navbarIconContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	aspect-ratio: 1/1;
	border-radius: 80%;
	opacity: 100%;
	
}
.navbarIconImage{
	height: 100%;
	aspect-ratio: 1/1;
	object-fit: unset;
	border-radius: 80%;
}

