.projectFullDisplayWrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.projectMainBox{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: flex-start;
	
}

.projectScreenshot{
	height: 100%;
	aspect-ratio: 16/9;
}

.projectScreenshot img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.sideInfoPanel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	color: black;
	height: 100%;
	width: 30%;
}

.bottomInfoPanel{
	color: black;
	display: flex;
	width: 50%;
	height: 100%;
}

.projectDetailsList{
	display: flex;	
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}
