.projectFullDisplayWrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: scroll;
}

.projectMainBox{
	margin-top: 5px;
	display: flex;
	height: 80%;
}

.projectScreenshot{
	height: 80%;
}

.projectScreenshot img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.sideInfoPanel{
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: black;
	height: 100%;
	width: 30%;
}

.projectDetailsList{
	display: flex;	
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.bottomInfoPanel{
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 75%;
	height: 100%;
}

.projectLinks{
	display: flex;
	gap: 10px;
	flex-direction: column;
	font-size: medium;	
}

.projectLinks a{
	cursor: pointer;
	font-size: x-large;
	color: black;
}



@media screen and (max-width: 2000px){
	.sideInfoPanel{
		font-size: 14px;
	}
}


@media screen and (max-width: 800px){
	.projectMainBox{
		flex-direction: column;
	}

	.sideInfoPanel{
		width: 90%;
		font-size: 12px;
	}

	.projectScreenshot{
		aspect-ratio: unset;
	}

	.bottomInfoPanel{
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
	}

	.projectDetailsList{
		gap: 10px;
		width: 100%;
	}
	.projectLinks{
		margin-top: 10px;
		display: flex;
		flex-direction: row;

	}
}
